@import "_variables";
*,
*::after,
*::before {
  box-sizing: border-box;
}
::root {
  font-size: 18px;
}

body {
  margin: 0;
  padding: 0;
  font-family: $font_body;
}

input,
button,
textarea {
  font: inherit;
}
a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}
img {
  display: block;
}
