/* ------------FONTS------------- */
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow&display=swap");

$font_headings: "Barlow Condensed", sans-serif;
$font_body: "Barlow", sans-serif;

$clr_primary: hsl(0, 100%, 68%);
$clr_dark: hsl(230, 29%, 20%);
$clr_dark_accent: hsl(230, 11%, 40%);
$clr_accent: hsl(231, 7%, 65%);
$clr_light_accent: hsl(207, 33%, 95%);
